body {
    height: 100vh;
    margin: 0;
    
    font-family: 'Patua One', cursive;
}

#canvas {
    display: block;
    margin: auto;
    width: 1100px;
    height: 100%;
    background-color: white;
}

#nav {
    display: block;
    height: 100px;
    background-color: crimson;
    color: white;
}

#overskrift {
    margin-left: 30px;
    font-size: 35px;
    height: 100px;
    line-height: 95px;
    margin-right: 5px;
}


.bildekarusell {
    display: block;
    width: 100%;
}

.box {
    background-color: crimson;
    height: 160px;
    width: 160px;
    text-align: center;
    line-height: 160px;
    font-size: 30px;
    float: left;
    margin-right: 28px;
    color: white;
}

.box:hover {
    background-color: gray;
}

.siste-box:hover {
    background-color: gray;
}

.siste-box {
    background-color: crimson;
    height: 160px;
    width: 160px;
    text-align: center;
    line-height: 160px;
    font-size: 30px;
    float: left;
    color: white;
}

#footer {
    display: block;
    background-color: crimson;
    height: 40px;
    float: left;
    width: 100%;
    margin-top: 25px;
    line-height: 40px;
    color: white;
}

#footer-text {
    margin-left: 30px;
    color:white;
}

#footer-text-hide {
    color: white;
}

@media only screen and (max-width: 767px) {
    /* MOBIL */
    #canvas {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: white;
}
    
    #overskrift {
    display: block;
    font-size: 35px;
    height: 100px;
    line-height: 95px;
    text-align: center;
}
    
    h1 {
    display: block;
    text-align: center;
    }
    
    .box {
    background-color: crimson;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    float: left;
    margin-top: 10px;
    color: white;
}
    
    .siste-box {
    background-color: crimson;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    float: left;
    margin-top: 10px;
    color: white;
}
    
    #undertekst {
        display: none;
    }
    
    #footer-text-hide {
        display: none;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1100px) {
    /* TABLET */
    #canvas {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: white;
}
    h1 {
    display: block;
    margin-left: 30px;
    }
    
    #boxes {
    margin-left: 25px;
    }
    
    .box {
    background-color: crimson;
    height: 160px;
    width: 160px;
    text-align: center;
    line-height: 160px;
    font-size: 30px;
    float: left;
    margin-right: 25px;
    color: white;
    margin-top: 25px;
    }
    
    .box {
    background-color: crimson;
    height: 160px;
    width: 160px;
    text-align: center;
    line-height: 160px;
    font-size: 30px;
    float: left;
    margin-right: 25px;
    color: white;
    margin-top: 25px;
}
    .siste-box {
    background-color: crimson;
    height: 160px;
    width: 160px;
    text-align: center;
    line-height: 160px;
    font-size: 30px;
    float: left;
    margin-top: 25px;
    color: white;
}
    
    

}
